.footer-sticky {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.bg-acl {
	background-color: #25C685;
}

.a-acl {
	color: #3c3c3c!important;
}

.my-card:hover {
	border-color: #25C685;
}